# Node
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/
out-tsc/
.angular/

# Environment (DO NOT COMMIT secrets)
# src/environments/environment.prod.ts  ← update with your own URL

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
