/* Global styles for IPT Angular Auth Boilerplate */
a { cursor: pointer; }

.app-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Nav */
nav.navbar {
    background-color: #343a40;
}

/* Cards */
.card {
    margin-top: 2rem;
}

/* Alert messages */
.alert { margin-top: 1rem; }

/* Spinner within button */
.spinner-border-sm {
    width: 1rem;
    height: 1rem;
}

/* Account layout centering */
.col-md-6.offset-md-3,
.col-lg-4.offset-lg-4 {
    margin-top: 4rem;
}
